<div class="row py-2 border-top">
  <div class="col-4 my-auto">
    <%= dog.name %>
  </div>
  <div class="col-4 my-auto">
    <%= dog.age %>
  </div>
  <div class="col-4">
    <div class="d-flex justify-content-end">
      <%= link_to "詳細", dog_path(dog), class: "btn btn-sm btn-outline-primary me-2", data: { turbo: false } %>
      <%= button_to "削除", dog, method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "本当に削除しますか？" } } %>
    </div>
  </div>
</div>
